.card {
  border: 1px solid #c6c6c6;
  margin: 40px 0px;
  text-align: left;
  border-radius: 2px;
  transition: all 0.2s ease-in;
}

.card:hover {
  box-shadow: 0 4px 8px 0 #c6c6c6, 0 6px 20px 0 #c6c6c6;
}

.card__img-holder > img {
  width: 100%;
  max-width: 700px;
  object-fit: cover;
  margin-top: 5px;
}

.card__title-link {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in;
}

.card__title {
  margin: 0px 10px;
}

.card__title-link:hover {
  color: #3f3e3e;
}

.card__description {
  margin: 10px 10px;
}

.card__description > p {
  margin: 0px;
}

.card__buttons {
  margin: 0px 10px;
  margin-bottom: 10px;
  display: flex;
}

.card__buttons > button {
  padding: 10px 20px;
  outline: none;
  border: none;
  /* max-width: 8vw; */
  width: 9vw;
  border-radius: 2px;
  font-family: "Segoe UI";
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.card__buttons > button > span {
  margin-left: 5px;
}

.card__buttons > .card__like-button:hover {
  background-color: #44c044;
  color: white;
  box-shadow: 0px 1px 1px 1px #38a838;
}

.card__buttons > .card__like-button.selected {
  background-color: #38a838;
  color: white;
  /* box-shadow: 0px 1px 1px 1px #38a838; */
}

.card__buttons > .card__like-button.selected:hover {
  background-color: #44c044;
}

.card__buttons > .card__dislike-button {
  margin-left: 10px;
}

.card__buttons > .card__dislike-button:hover {
  background-color: #eb2d2d;
  color: white;
  box-shadow: 0px 1px 1px 1px #da1313;
}

.card__buttons > .card__dislike-button.selected {
  background-color: #da1313;
  color: white;
}

.card__buttons > .card__dislike-button.selected:hover {
  background-color: #eb2d2d;
}

.card__buttons > .card__bookmark-button {
  margin-left: auto;
}

.card__bookmark-holder {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  font-size: 25px;
}

.card__bookmark-holder > i {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.card__bookmark-holder > i:hover {
  color: #ffd900;
}

.card__bookmark-holder > .selected {
  color: #e7c713;
}

@media (max-width: 850px) {
  .card__buttons > button > span {
    display: none;
  }
}
