.hamburger {
  background-color: rgb(17, 16, 16);
  color: black;
  z-index: 1;
  position: fixed;
  top: 100px;
  left: 0;
  width: 150px;
  height: 100vh;
  transition: transform 0.2s ease;
}

.hamburger__link {
  text-decoration: none;
}

.hamburger__link > div {
  /* margin: 10px 0px; */
  color: white;
  padding: 10px;
  /* border-top: 1px solid white; */
  /* border-bottom: 1px solid white; */
  background-color: #2c2b2b;
  text-align: left;
  transition: all 0.2s ease-in;
}

.hamburger__link > div:hover {
  background-color: #444343;
}
