:root {
  --bar-width: 20px;
  --bar-height: 2px;
  --bar-spacing: 5px;
}

.menu-wrapper {
  width: var(--bar-width);
  height: 16px;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.hamburger-menu,
.hamburger-menu::after,
.hamburger-menu::before {
  width: var(--bar-width);
  height: var(--bar-height);
  transition: transform 0.2s ease-in;
  display: block;
}

.hamburger-menu {
  background: rgba(255, 255, 255, 1);
  position: relative;
  transition: background-color 0.2s ease-in;
  transform: translateY(var(--bar-spacing));
}

.hamburger-menu::before {
  content: "";
  position: absolute;
  bottom: var(--bar-spacing);
  background: rgba(255, 255, 255, 1);
  left: 0;
}

.hamburger-menu::after {
  content: "";
  position: absolute;
  top: var(--bar-spacing);
  background: rgba(255, 255, 255, 1);
  left: 0;
}

.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger-menu.animate::before {
  transform: translate(0, 5px) rotate(45deg);
}

.hamburger-menu.animate::after {
  transform: translate(0, -5px) rotate(-45deg);
}
