.navbar {
  grid-row: 1 / 2;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100px;
}

/* .navbar > button {
  margin-right: auto;
  justify-self: flex-start;
} */

.navbar > h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar > h2 {
  margin-left: auto;
  visibility: hidden;
}

.navbar__title {
  text-decoration: none;
  color: white;
}
