@import url("./styles/card.css");
@import url("./styles/navbar.css");
@import url("./styles/hamburgerMenu.css");
@import url("./styles/hamburgerToggle.css");

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 100px 1fr;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  grid-row: 2 / -1;
  background-color: #fafafa;
}

.index,
.individual {
  grid-column: 4 / -4;
}
