.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: 200px 1fr; */
}

.navbar {
  grid-column: 1 / -1;
}

.container {
  grid-column: 4 / -4;
}
